In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("USA_cars_datasets.csv")

In [7]:
df.head()

   Column1  price      brand  ...       state  country      condition
0        0   6300     toyota  ...  new jersey      usa   10 days left
1        1   2899       ford  ...   tennessee      usa    6 days left
2        2   5350      dodge  ...     georgia      usa    2 days left
3        3  25000       ford  ...    virginia      usa  22 hours left
4        4  27700  chevrolet  ...     florida      usa  22 hours left

[5 rows x 13 columns]

In [10]:
#del df['Unnamed: 0']
del df['vin']
del df['lot']
del df['condition']

In [11]:
df.head()

   Column1  price      brand    model  ...  mileage   color       state country
0        0   6300     toyota  cruiser  ...   274117   black  new jersey     usa
1        1   2899       ford       se  ...   190552  silver   tennessee     usa
2        2   5350      dodge      mpv  ...    39590  silver     georgia     usa
3        3  25000       ford     door  ...    64146    blue    virginia     usa
4        4  27700  chevrolet     1500  ...     6654     red     florida     usa

[5 rows x 10 columns]

In [12]:
df['country'].unique()

array([' usa', ' canada'], dtype=object)

In [13]:
df[df['country'] == ' canada']

     Column1  price      brand    model  ...  mileage   color    state  country
261      261  33000  chevrolet     1500  ...    52521   white  ontario   canada
813      813  30000      dodge  charger  ...    43294   white  ontario   canada
814      814  30000      dodge  charger  ...    54309  orange  ontario   canada
815      815  30000      dodge  charger  ...    52822   white  ontario   canada
816      816  30000      dodge  charger  ...    45554   white  ontario   canada
817      817  30000      dodge  charger  ...    37538   white  ontario   canada
818      818  29500      dodge  charger  ...    35153     red  ontario   canada

[7 rows x 10 columns]

In [14]:
for country in df['country'].unique():
  print(country , len(df[df['country'] == country]))

 usa 2492
 canada 7

In [15]:
for year in df['year'].unique():
  print(year , len(df[df['year'] == year]))

2008 18
2011 23
2018 395
2014 104
2010 13
2017 377
2009 11
2013 86
2015 196
2020 48
2016 203
1973 1
2003 9
2019 892
2002 2
2000 4
2001 5
2005 6
2012 72
2006 8
2007 6
1998 4
2004 6
1994 2
1997 2
1996 2
1999 1
1984 1
1995 1
1993 1

In [16]:
for model in df['model'].unique():
  print(model , len(df[df['model'] == model]))

cruiser 1
se 1
mpv 87
door 651
1500 39
pk 5
malibu 12
coupe 6
wagon 30
forte 2
encore 3
sorento 5
doors 148
chassis 4
q70 1
camaro 6
convertible 1
vans 2
srw 38
compass 6
enclave 2
300 6
cherokee 3
pacifica 3
x3 2
equinox 18
challenger 44
m 1
colorado 12
focus 9
durango 64
escape 39
charger 42
explorer 39
f-150 219
3500 4
caravan 102
van 46
dart 1
2500 8
esv 1
cutaway 12
el 3
edge 34
series 8
flex 33
srx 1
cab 8
pickup 15
vehicl 1
trax 8
tahoe 9
suburban 16
cargo 2
drw 10
fiesta 14
impala 12
soul 1
elantra 1
pioneer 1
trail 1
traverse 6
country 2
sundance 1
road/street 1
nautilus 1
gx 1
q5 1
gle 2
sportage 1
5 1
sport 40
discovery 1
acadia 1
ghibli 1
glc 1
e-class 1
truck 4
utility 1
limited 1
sl-class 1
cx-3 1
2500hd 1
sonic 2
corvette 4
mdx 1
xt5 1
fusion 65
mustang 29
passenger 3
volt 2
spark 1
cruze 2
ld 3
journey 61
transit 41
ranger 6
taurus 10
max 41
energi 1
expedition 28
bus 2
ecosport 7
f-750 1
d 2
dr 1
hybrid 5
suv 1
connect 1
f-650 3
sentra 28
altima 21
frontier 14
rogue 54
maxima 3
versa 34
note 2
armada 4
pathfinder 22
titan 5
sedan 4
juke 1
murano 5
xterra 1
kicks 1
xd 1
nvp 1

In [17]:
for brand in df['brand'].unique():
  print(brand , len(df[df['brand'] == brand]))

toyota 1
ford 1235
dodge 432
chevrolet 297
gmc 42
chrysler 18
kia 13
buick 13
infiniti 12
mercedes-benz 10
jeep 30
bmw 17
cadillac 10
hyundai 15
mazda 2
honda 12
heartland 5
jaguar 1
acura 3
harley-davidson 1
audi 4
lincoln 2
lexus 2
nissan 312
land 4
maserati 1
peterbilt 4
ram 1

In [18]:
df['year'].unique()

array([2008, 2011, 2018, 2014, 2010, 2017, 2009, 2013, 2015, 2020, 2016,
       1973, 2003, 2019, 2002, 2000, 2001, 2005, 2012, 2006, 2007, 1998,
       2004, 1994, 1997, 1996, 1999, 1984, 1995, 1993])

In [19]:
df['title_status'].unique()

array(['clean vehicle', 'salvage insurance'], dtype=object)

In [20]:

df['color'].unique()

array(['black', 'silver', 'blue', 'red', 'white', 'gray', 'orange',
       'brown', 'no_color', 'gold', 'charcoal', 'turquoise', 'beige',
       'green', 'dark blue', 'maroon', 'phantom black', 'yellow',
       'color:', 'light blue', 'toreador red', 'bright white clearcoat',
       'billet silver metallic clearcoat', 'black clearcoat',
       'jazz blue pearlcoat', 'purple',
       'ruby red metallic tinted clearcoat', 'triple yellow tri-coat',
       'competition orange', 'off-white', 'shadow black',
       'magnetic metallic', 'ingot silver metallic', 'ruby red',
       'royal crimson metallic tinted clearcoat', 'kona blue metallic',
       'oxford white', 'lightning blue', 'ingot silver',
       'white platinum tri-coat metallic', 'guard',
       'tuxedo black metallic', 'tan', 'burgundy', 'super black',
       'cayenne red', 'morningsky blue', 'pearl white', 'glacier white'],
      dtype=object)